<ion-header>
  <ion-toolbar>
    <ion-title>
   Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
   <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Login </h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input [(ngModel)]="Username" required type="text" placeholder="Username"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input [(ngModel)]="password" required type="password" placeholder="Password"></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button size="large" (click)="Verifier()"  expand="block">Login</ion-button>
        </div>
      
     <!--    <div padding *ngIf="soumis">
           <div padding *ngFor="let item of result.results" >
            <div padding *ngIf="Username === item.login.username && password === item.login.password " >
                    Welcome {{item.name.first}} 
                <br>
                <br>

              <ion-button  routerLink="liste" >Get start</ion-button> 
            </div>  
           
          </div>
         
        </div> -->
         
         
       
      </ion-col>
    </ion-row>
    
    
  </ion-grid> 
 
</ion-content>
